
.header-line{
    background-color: #fff;
    min-height: 60px;
    border-bottom: 1px solid #e6e8eb;
}
.header-main{
    background-color: #fff;
    min-height: 100px;
}
.header-main .container .row{
    padding: 40px 0;
}
.header-main .logo-main img{
    max-width: 100%;
}
nav.nav ul li{
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    margin: 0 15px;
}
nav.nav ul li a{
    text-decoration: none;
    color: #34404b;
    font-weight: 600;
}
nav.nav ul li a:hover{
    color: #ff5912;
}
.footer-nav li.active, .footer-nav li.active a, nav.nav ul li.active, nav.nav ul li.active a{
    color: #ff5912;
}
a.search, a.user, a.cart{
    width: 25%;
    margin: 0 2.5%;
    display: inline-block;
}
a.search img, a.user img, a.cart img{
    display: block;
    margin: auto;
}
.cart{
    position: relative;
}
span.cart-count{
    display: block;
    background-image: url(../images/header/CounterBg.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    top: -16px;
    left: 11px;
    height: 18px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}
.contacts-block ul{
    padding: 0;
    margin: 0;
}
.contacts-block ul li{
    display: inline-block;
    font-size: 12px;
    color: #34404b;
    line-height: 60px;
    padding: 0 15px 0 0;
}
.contacts-block ul li a{
    text-decoration: none;
    color: #34404b;
    font-weight: 600;
}
.contacts-block .mailto::before{
    content: "";
    display: inline-block;
    background-image: url(../images/header/mail-ico.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 11px;
    margin-right: 6px;

}
.contacts-block .tel::before{
    content: "";
    display: inline-block;
    background-image: url(../images/header/phone-ico.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 6px;
}
.social-btns a{
    margin-top: 25px;
    width: 20%;
    display: inline-block;
}
.social-btns a img{
    display: block;
    margin: auto;
}