/* ---MEDIA STYLES--- */

@media screen and (max-width:900px){
    .news-row {
        min-height: auto; 
        line-height: 20px;
        padding: 15px;
    }
}
/* -----MEDIA MEDIUM (max-width:768px)----- */

@media screen and (max-width:768px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4,.col-md-5, .col-md-6,.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        margin: 0 1.25%;
    }
    .col-md-1 {
        width: 5.83333%;
    }
    .col-md-2 {
       width: 14.16666%; 
    }
    .col-md-3 {
        width: 22.5%; 
    }
    .col-md-4 {
        width:30.83333%; 
    }
     .col-md-5{
        width: 37.5%;
    }
    .col-md-6 {
        width:47.5%; 
    }
    .col-md-7{
        width:57.5%;
    }
    .col-md-8 {
        width:64.16667%; 
     }
     .col-md-9{
        width: 72.5%;
    }
    .col-md-10 {
        width:80.83334%; 
    }
    .col-md-11 {
        width:89.16667%; 
    }
    .col-md-12 { 
        width:97.5%; 
    }
    .col-md-center{
        float: none;
        margin: auto;
    }
    .col-md-indent-up-down{
        margin: 10px auto;
    }
    .indent-up-down {
        margin: 30px auto;
    }
    .header-line {
        min-height: 30px;
    }
    .contacts-block ul li {
        line-height: 30px;
    }
    .social-btns a {
        margin-top: 10px;
    }    
    .header-main{
        text-align: center;
    }
    .header-main .container .row, .header-main .container .row nav  {
        padding: 15px 0;
    }
    .slider-header {
        font-size: 24px;
    }
    .slider-on-top p {
        margin: 5px 0;
    }
    .bannerDetail {
        left: 15%;
    }
    .bx-controls.bx-has-pager{
        left: 5%;
    }

    .categories-filter, .price-filter, .sizes-filter, .brands-filter {
        padding: 5px;
    }
    .categories-filter ul li, .price-filter ul li, .sizes-filter ul li, .brands-filter ul li {
        line-height: 30px;
    }
}



/* -----MEDIA SMALL (max-width:576px)----- */
@media screen and (max-width:576px){
    .container{
        margin-left: 5px;
        margin-right: 5px;
    }
    .indent-up-down {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,.col-sm-5, .col-sm-6,.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        margin: 0 1.25%;
    }  
    .col-sm-1 {
        width: 5.83333%;
    }
    .col-sm-2 {
       width: 14.16666%; 
    }
    .col-sm-3 {
        width: 22.5%; 
    }
    .col-sm-4 {
        width:30.83333%; 
    }
    .col-sm-5{
        width: 37.5%;
    }
    .col-sm-6 {
        width:47.5%; 
    }
    .col-sm-7{
        width:57.5%;
    }
    .col-sm-8 {
        width:64.16667%; 
     }
     .col-sm-9{
        width: 72.5%;
    }
    .col-sm-10 {
        width:80.83334%; 
    }
    .col-sm-11 {
        width:89.16667%; 
    }
    .col-sm-12 { 
        width:97.5%; 
    }
    .col-sm-center{
        float: none;
        margin: auto;
        text-align: center;
    }
    .col-sm-indent-up-down{
        margin: 10px auto;
    }
    .slider-header {
        font-size: 20px;
    }
    .slider-on-top p {
        font-size: 14px;
    }
    .bannerDetail {
        top: 5%;
    }
    .bx-wrapper .bx-pager.bx-default-pager a,.bx-wrapper .bx-pager.bx-default-pager a.active {
       height: 10px;
    }
    .bx-controls.bx-has-pager{
        left: 5%;
    }
    .social-btns a {
        margin-top: 25px;
    }
    .goods-block4 {
        margin-top: 10px;
    }
    .block-blurb .sale-price {
        min-height: 24px;
        line-height: 50px;
    }
    .footer-logo img {
        margin: auto;
    }
    .payment-block{
        clear: both; 
    }
    .payment-block h4{
        text-align: center;
    }
}