*{
    margin: 0;
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 0;
    
}

html,body{
    margin: 0;
    box-sizing: border-box;
    background-color: #f4f6f8;
    font-family: "Harmonia Sans Pro Cyr", Arial,Tahoma, sans-serif;
    color: #34404b;
    font-size: 16px;
}

h3{ 
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

h4{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 0 0;
}
h5{
    font-size: 18px;
    color: #ff5912;
    font-weight: bold;
    margin: 20px 0 0 0;
}
p{
    margin: 0;
}
.text-center {
    text-align: center;
}
.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
.orange-txt{
    color:  #ff5912;
}



/* ---GRID--- */
    .container{
        max-width: 1230px;
        margin: auto;
    }
    .row{
        margin: 0;
    }
    .row::after{
        content: "";
        display: block;
        clear: both;
    }
    .indent-up-down{
        margin: 60px auto;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,.col-lg-5, .col-lg-6,.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        margin: 0 1.25%;
    }
    
    .col-lg-1 {
        width: 5.83333%;
    }
       .col-lg-2 {
       width: 14.16666%; 
    }
      .col-lg-3 {
        width: 22.5%; 
    }
      .col-lg-4 {
        width:30.83333%; 
    }
     .col-lg-5{
        width: 37.5%;
    }
    .col-lg-6 {
        width:47.5%; 
    }
    .col-lg-7{
        width:57.5%;
    }
    .col-lg-8 {
        width:64.16667%; 
     }
     .col-lg-9{
        width: 72.5%;
    }
    .col-lg-10 {
        width:80.83334%; 
    }
    .col-lg-11 {
        width:89.16667%; 
    }
    .col-lg-12 { 
        width:97.5%; 
    }

/* ---END GRID--- */

/* ---OPEN MORE--- */
    .open-more{
        text-align: center;
        color:  #ff5912;
        line-height: 60px;
        font-weight: 800;
        min-height: 60px;
        background-color: #fff;
    }
    .open-more p{
        cursor: pointer;
    }
/* ---END OPEN MORE--- */


/* ---GOODS CARDS--- */
    .goods-header{
        text-align: center;
    }
    .goods-header p{
        line-height: 1.875rem;
    }
    .goods-block4::after{
        content: '';
        display: block;
        clear: both;
    }
    .goods-block4{
        margin-top: 60px;
    }
    .goods-card{
        min-height: 370px;
        margin: 15px 0;
        background-color:#fff;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .goods-card img{
        margin-top: 30px;
    }
    .goods-card-price{
        color: #ff5912;
    }
/* ---END GOODS CARDS--- */


/* ---GOODS BEST SAILS--- */
    .best-sails{
        margin-top: 5rem;
        padding: 30px 20px;
        background-color:#fff;
    }
    .best-sails-img img{
        max-width: 100%;
        margin: auto;
        display: block;
    }
    .best-sails-stars img{
        max-width: 100%;
        position: relative;
        top: 5px;
    }
    .best-sails-price,.best-sails-stars{
        display: inline-block;
        width: 45%;
    }
    .best-sails-price{
        display: inline-block;
        width: 45%;
        text-align: right;
        color: #ff7013;
        font-weight: bold;;
    }
    .best-sails-heading{
        font-size: 18px;
        color: #34404b;
        font-family: "Harmonia Sans Pro Cyr";
        font-weight: bold;
        padding-bottom: 30px;
    }
/* ---END GOODS BEST SAILS--- */


